/* common */
.dfbox {display: flex;}
.inner_container {width: 95%; max-width: 1200px; margin: 0 auto; position: relative;}
.arrow::after {content: '→'; position: absolute; right: 25px; transform: translateX(0);}
.arrow::after {-webkit-transition: transform 0.3s ease-out;-moz-transition: transform 0.3s ease-out;-ms-transition: transform 0.3s ease-out;-o-transition: transform 0.3s ease-out;transition: transform 0.3s ease-out;}
.arrow:hover::after {-webkit-transform: translateX(3px);-moz-transform: translateX(3px);-ms-transform: translateX(3px);-o-transform: translateX(3px);transform: translateX(3px);}
.tits {color: #000; text-align: center;}


/* banner */
.banner_section {position: relative; height:900px;}
.banner_section .swiper {height: 100%; position: relative; width: 100%;}
.banner_section .swiper .swiper-slide {position: relative;}
.banner_section .swiper .swiper-slide .swiper-slide-cover {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: transparent no-repeat 50% 50% / cover; z-index: -11;}
.banner_section .swiper .swiper-slide.slide1 .swiper-slide-cover {background: url(../img/main/mainBanner01.jpg) no-repeat center; background-size: cover; transform-origin: 50% 50%; background-position-y: top;}
.banner_section .swiper .swiper-slide.slide2 .swiper-slide-cover {background: url(../img/main/mainBanner01.jpg) no-repeat center; background-size: cover; transform-origin: 50% 50%; background-position-y: top;}
.banner_section .swiper .swiper-slide.slide3 .swiper-slide-cover {background: url(../img/main/mainBanner01.jpg) no-repeat center; background-size: cover; transform-origin: 50% 50%; background-position-y: top;}
.banner_section .txtbtn_wrap {position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; z-index: 2; color: #fff;}
.banner_section .txtbtn_wrap .txts .line {width: 100%; height: 1px; background-color: rgba(255,255,255, .5); margin: 40px 0;}
.banner_section .txtbtn_wrap .txts p {line-height: 1.5; word-break: keep-all; white-space: wrap;}
.banner_section .txtbtn_wrap .btns {gap: 20px; align-items: center;}
.banner_section .txtbtn_wrap .btns .swiper-pagination {width: auto; position: relative; bottom: auto; margin-right: 20px; display: flex; gap: 30px;}
.banner_section .txtbtn_wrap .btns .swiper-pagination .swiper-pagination-bullet {width: 31px; height: 31px; background-color: transparent; border: 1px solid transparent; border-radius: 50%; z-index: 2; margin: 0; opacity: 1; position: relative;}
.banner_section .txtbtn_wrap .btns .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.banner_section .txtbtn_wrap .btns .swiper-pagination .swiper-pagination-bullet:hover{background-color: rgba(255,255,255, .1); border: 1px solid #fff;}
.banner_section .txtbtn_wrap .btns .swiper-pagination .swiper-pagination-bullet::after {content: ''; width: 7px; height: 7px; background-color: #fff; border-radius: 50%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 3;}
.banner_section .txtbtn_wrap .btns .swiper-button-next, .banner_section .txtbtn_wrap .btns .swiper-button-prev {position: relative; top: auto; display: block; width: 8px; height: 14px; margin-top: 0; left: auto; right: auto; opacity: 1;}
.banner_section .txtbtn_wrap .btns .swiper-button-prev {background: url(../img/main/bannerArrow_prev.png) no-repeat; background-size: cover;}
.banner_section .txtbtn_wrap .btns .swiper-button-next {background: url(../img/main/bannerArrow_next.png) no-repeat; background-size: cover;}
.banner_section .txtbtn_wrap .btns .swiper-button-prev:hover {background: url(../img/main/bannerArrow_prev_hov.png) no-repeat; background-size: cover;}
.banner_section .txtbtn_wrap .btns .swiper-button-next:hover {background: url(../img/main/bannerArrow_next_hov.png) no-repeat; background-size: cover;}
.banner_section .txtbtn_wrap .btns .swiper-button-prev::after, .banner_section .txtbtn_wrap .btns .swiper-button-next::after {display: none;}


/* link */
.link_section {margin-top: -100px; position: relative; z-index: 5;}
.link_section ul {align-items: center; height: 200px; background-color: #fff; border: 1px solid #eee;}
.link_section ul li {width: calc(100% / 4); height: 100%; transition: all .3s ease;}
.link_section ul li a {display: block; height: 100%;}
.link_section ul li .dfbox {align-items: center; justify-content: center; gap: 20px; height: 100%;}
.link_section ul li .dfbox .icon {background-color: #c3c9cc; border-radius: 50%; overflow: hidden;}
.link_section ul li .dfbox .txt p {padding-top: 5px; opacity: .7;}
.link_section ul li:hover {box-shadow: 3px 3px 73px rgba(13,40,61, .4); height: 220px; background-color: #fff;}
.link_section ul li:hover .dfbox .icon {background-color: #7f9dad;}
.link_section ul li:hover .dfbox .txt strong {color: #7f9dad;}


/* 공사 무료 견적 상황 */
.quot_form .thead {background-color: #7f9dad; height: 50px; align-items: center;}
.quot_form .thead p {width: calc(100% / 5); text-align: center; color: #fff;}
.quot_form .tbody p {width: calc(100% / 5); text-align: center; word-break: keep-all; white-space: wrap;}
.quot_form .quot_slide {height: 250px;}
.quot_form .quot_slide .swiper-wrapper {display: block;}
.quot_form .quot_slide .swiper-wrapper .swiper-slide {align-items: center; border-bottom: 1px solid #7f9dad; height: 50px;}
.quot_form .quot_slide .swiper-wrapper .swiper-slide .date {background-color: #7f9dad; color: #fff; padding: 0 2px;}


/* 무료 시공문의 */
.inquiry_section {background-color: #f7f7f7;}
.inquiry_section .form_box {border-top: 2px solid #7f9dad;}
.inquiry_section .form_box .countbox {align-items: start;}
.inquiry_section .form_box .input_col_box {gap: 50px; justify-content: space-between; padding: 15px 25px; border-bottom: 1px solid rgba(127,157,173, .5);}
.inquiry_section .form_box .input_col_box .input_col {width: calc((100% - 50px) / 2); align-items: center;}
.inquiry_section .form_box .input_col_box .thead {width: 135px; display: block;}
.inquiry_section .form_box .input_col_box .tbody {width: calc(100% - 135px);}
.inquiry_section .form_box .input_col_box .tbody.select_box {gap: 10px; justify-content: space-between;}
.inquiry_section .form_box .input_col_box .tbody.select_box select {width: calc((100% - 10px) /2);}
.inquiry_section .form_box .input_col p, .inquiry_section .form_box .privacy_wrap p {font-size: 18px;}
.inquiry_section .form_box .input_col .txt_input {height: 50px; border: 0; padding: 0 20px; font-size: 15px; font-weight: 300;}
.inquiry_section .form_box .input_col select {appearance: none; height: 50px; border: 0; padding: 0 20px; background: url(../img/main/select_icon.png) right 15px center #fff no-repeat; font-size: 15px; font-weight: 300;}
.inquiry_section .form_box .input_col .txt_btn {gap: 10px;}
.inquiry_section .form_box .input_col .txt_btn button {width: 130px; height: 50px; font-size: 17px; font-weight: 700; color: #fff; background-color: #7f9dad; border: 0; appearance: none;}
.inquiry_section .form_box .input_col .txt_btn button:hover {background-color: #6591a9;}
.inquiry_section .form_box .input_col .txt_btn input, .inquiry_section .form_box .input_col .txt_btn .cert_box {width: calc((100% - 10px) - 130px);}
.inquiry_section .form_box .input_col .txt_btn .cert_box .cert_input {position: relative;}
.inquiry_section .form_box .input_col .txt_btn .cert_box .cert_input input {width: 100%;}
.inquiry_section .form_box .input_col .txt_btn .cert_box .cert_input .count {position: absolute; right: 17px; top: 50%; transform: translateY(-50%); font-size: 15px; font-weight: 700; color: #f06262;}
.inquiry_section .form_box .input_col .txt_btn .cert_box .info {font-size: 15px; font-weight: 300; color: #f06262; line-height: 1.2; word-break: keep-all; white-space: wrap; margin-top: 17px;}
.inquiry_section .form_box .input_col>label {font-size: 18px; font-weight: 600;}
.inquiry_section .form_box .textarea_wrap {align-items: start; padding: 15px 25px; border-bottom: 1px solid rgba(127,157,173, .5);}
.inquiry_section .form_box .textarea_wrap label {width: 135px; display: block; margin-top: 25px;}
.inquiry_section .form_box .textarea_wrap textarea {width: calc(100% - 135px); padding: 20px; border: 0; background: #fff; font-size: 15px; font-weight: 300; min-height: 100px; resize: none;}
.inquiry_section .form_box .privacy_wrap {padding: 15px 25px; padding-bottom: 0;}
.inquiry_section .form_box .privacy_wrap .txt_wrap {background: #fff; margin: 15px 0 20px; padding: 20px; height: 130px; overflow: scroll;}
.inquiry_section .form_box .privacy_wrap .txt_wrap ul li {font-size: 15px; font-weight: 300; line-height: 1; margin-bottom: 15px; word-break: keep-all; white-space: wrap;}
.inquiry_section .form_box .privacy_wrap .txt_wrap ul li:last-child {margin-bottom: 0;}
.inquiry_section .form_box .agree_wrap {font-size: 17px; font-weight: 500; position: relative;}
.inquiry_section .form_box .agree_wrap input, .inquiry_section .form_box .radio_box input {appearance: none; -webkit-appearance: none; -moz-appearance: none; display: none;}
.inquiry_section .form_box .agree_wrap label {padding-left: 40px;}
.inquiry_section .form_box .agree_wrap input[type="checkbox"] + label span {display: inline-block; width: 27px; height: 27px; border-radius: 50%; border: 2px solid #7f9dad; background: #fff; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.inquiry_section .form_box .agree_wrap input[type="checkbox"]:checked + label span {background-color: #7f9dad;}
.inquiry_section .form_box .agree_wrap input[type="checkbox"] + label span::after {content: ''; display: block; background: url(../img/main/checkbox_icon.png) 50% 50% no-repeat;; border-radius: 3px; width: 18px; height: 18px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.inquiry_section .form_box .agree_wrap input[type="checkbox"]:checked + label span::after {background: url(../img/main/checkbox_icon_hov.png) 50% 50% no-repeat;}
.inquiry_section .form_box .radio_box label {position: relative; font-size: 15px; font-weight: 300; display: inline-block; margin-right: 20px; padding-left: 28px;}
.inquiry_section .form_box .radio_box input[type="radio"] + label span.radio_figure {display: inline-block; width: 17px; height: 17px; border: 3px solid #666; background: transparent; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.inquiry_section .form_box .radio_box input[type="radio"]:checked + label span.radio_figure {background: url(../img/main/radio_icon.png) 50% 50% no-repeat; width: 21px; height: 18px; border: 0;}
.inquiry_section .form_box .submit_btn {width: 100%; border: 0; background: #7f9dad; border-radius: 40px; color: #fff; height: 60px; line-height: 60px;}
.inquiry_section .form_box .submit_btn:hover {background-color: #6591a9;}
.inquiry_section.main .form_box .input_col select, .inquiry_section.main .form_box .textarea_wrap textarea {background-color: #fff;}

.def_text{font-size: 15px;font-weight: 300;background-color: #eee;
  border: 1px solid #eee;display:block;height: 50px;width: calc(100% - 135px);line-height: 50px;
  padding: 0 20px;}

/* 이용약관&개인정보 */
.inquiry_section .form_box .privacy_wrap .txt_wrap .textarea{width: 100%;line-height: 1.5; color: #777; font-size: 15px; display: block; white-space: pre-wrap;}
.inquiry_section .form_box .privacy_wrap .txt_wrap .textarea div {line-height: 1.5;}
.inquiry_section .form_box .privacy_wrap .txt_wrap .textarea p{font-weight:bold; font-size:110%; text-align:center;}


/* 시공사례 */
.constr_section .tab_wrap {border-bottom: 1px solid #eee;}
.constr_section .tab_wrap .tabs {margin: 0 auto; max-width: 600px; width: 90%; display: table;}
.constr_section .tab_wrap .tabs button {appearance: none; border: 0; border-bottom: 5px solid #eee; background: #fff; width: calc(100% / 3); display: inline-table; padding: 20px 0; border-top: 0; font-size: 17px; font-weight: 400; color: #222; margin-left: -1px; width: 33.43%;}
.constr_section .tab_wrap .tabs button.active, .constr_section .tab_wrap .tabs button:hover {border-bottom: 5px solid #7f9dad;}
.constr_section .board_container {margin-top: 30px;}
.constr_section .board_container .board_wrap .main_exBoard .main_exBoard_txt {width: 300px; position: relative;}
.constr_section .board_container .board_wrap .main_exBoard .txt_wrap small {font-size: 17px; font-weight: 700; line-height: 1;}
.constr_section .board_container .board_wrap .main_exBoard .txt_wrap h4 {margin: 15px 0 25px; line-height: 1;}
.constr_section .board_container .board_wrap .main_exBoard .txt_wrap p {line-height: 1.388}
.constr_section .board_container .board_wrap .main_exBoard .paging_box {width: 90%; max-width: 150px; align-items: center;}
.constr_section .board_container .board_wrap .main_exBoard .paging_box .count_txt {width: 23px;}
.constr_section .board_container .board_wrap .main_exBoard .paging_box .count_txt.total-slides {text-align: right;}
.constr_section .board_container .board_wrap .main_exBoard .progress_bar_wrap {position:relative; width:calc(100% - 46px);}
.constr_section .board_container .board_wrap .main_exBoard .progress_bar_wrap .progress {display: block; width: 100%; height: 2px; overflow: hidden;
  background-color: #ddd; background-image: linear-gradient(to right, #7f9dad, #7f9dad); background-repeat: no-repeat; background-size: 0 100%; transition: background-size .4s ease-in-out;}
.constr_section .board_container .board_wrap .main_exBoard .content {width: calc(100% - 300px);}
.constr_section .board_container .board_wrap .main_exBoard .content .slick-slide {margin-right: 30px;}
.constr_section .board_container .board_wrap .main_exBoard .content .slick-slide .img_holder {overflow: hidden;}
.constr_section .board_container .board_wrap .main_exBoard .content .slick-slide img {width: 100%; transition: all .3s ease;}
.constr_section .board_container .board_wrap .main_exBoard .content .slick-slide:hover img {transform: scale(1.2);}
.constr_section .board_container .board_wrap .main_exBoard .content .slider_txt {margin-top: 20px;}
.constr_section .board_container .board_wrap .main_exBoard .content .slick-arrow {font-size: 0; width: 60px; height: 60px; box-shadow: 3px 3px 13px rgba(13,40,61, .18); border: 0; position: absolute; z-index: 3; background: #fff; border-radius: 50%;}
.constr_section .board_container .board_wrap .main_exBoard .content .slick-arrow.slick-prev {left: 0; top: 50%; transform: translate(-50%,-50%); background: url(../img/main/boardArrow_prev.png) no-repeat center #fff;}
.constr_section .board_container .board_wrap .main_exBoard .content .slick-arrow.slick-next {right: 0; top: 50%; transform: translate(0,-50%);  background: url(../img/main/boardArrow_next.png) no-repeat center #fff;}
.constr_section .board_container .board_wrap .main_exBoard .content .slick-arrow.slick-prev:hover {background: url(../img/main/boardArrow_prev_hov.png) no-repeat center #7f9dad;}
.constr_section .board_container .board_wrap .main_exBoard .content .slick-arrow.slick-next:hover {background: url(../img/main/boardArrow_next_hov.png) no-repeat center #7f9dad;}



/* 부동산 정보 */
.realty_section {background-color: #f7f7f7; position: relative; overflow: hidden;}
.realty_section .bg_txt {font-size: 250px; font-weight: 900; letter-spacing: 0; color: #7f9dad; opacity: .1; position: absolute; right: -1%; bottom: -7%; line-height: 1;}
.realty_section .board_wrap {position: relative;}
.realty_section .swiper-overflow-container {overflow: hidden;}
.realty_section .realty_swiper .swiper-slide {margin-right: 30px;}
.realty_section .realty_swiper .swiper-slide .line {width: 100%; height: 1px; background-color: #7f9dad; margin-bottom: 30px;}
.realty_section .realty_swiper .swiper-slide .title {margin: 20px 0 30px; display: block; line-height: 1.388; word-break: keep-all; white-space: wrap;}
.realty_section .realty_swiper .swiper-slide .bo_cate_link {padding: 6px 15px; border-radius: 40px; background-color: #7f9dad; color: #fff;}
.realty_section .realty_swiper .swiper-slide .img_box {overflow: hidden;}
.realty_section .realty_swiper .swiper-slide img {width: 100%; transition: all .3s ease;}
.realty_section .realty_swiper .swiper-slide:hover .title {color: #7f9dad;}
.realty_section .realty_swiper .swiper-slide:hover img {transform: scale(1.2);}
.realty_section .realty_swiper .swiper-button-prev, .realty_section .realty_swiper .swiper-button-next {margin-top: 0; width: 60px; height: 60px; top: calc((100% + 147px) / 2); box-shadow: 3px 3px 13px rgba(13,40,61, .18); border: 0; position: absolute; z-index: 3; background: #fff; border-radius: 50%;}
.realty_section .realty_swiper .swiper-button-prev {left: 0; transform: translate(-50%,-50%); background: url(../img/main/boardArrow_prev.png) no-repeat center #fff;}
.realty_section .realty_swiper .swiper-button-next {right: 0; transform: translate(50%,-50%);  background: url(../img/main/boardArrow_next.png) no-repeat center #fff;}
.realty_section .realty_swiper .swiper-button-prev:hover {background: url(../img/main/boardArrow_prev_hov.png) no-repeat center #7f9dad;}
.realty_section .realty_swiper .swiper-button-next:hover {background: url(../img/main/boardArrow_next_hov.png) no-repeat center #7f9dad;}
.realty_section .realty_swiper .swiper-button-prev::after, .realty_section .realty_swiper .swiper-button-next::after {display: none;}



@media (max-width:1400px) {
	/* banner */
	.banner_section {height: 800px;}

	/* 부동산 정보 */
	.realty_section .bg_txt {font-size: 220px;}
}

@media (max-width:1024px) {
	/* banner */
	.banner_section {height: 700px;}

	/* 무료 시공문의 */
	.inquiry_section .form_box .input_col_box {gap: 35px;}
	.inquiry_section .form_box .input_col_box .input_col {width: calc((100% - 35px) / 2);}
	.inquiry_section .form_box .input_col .txt_btn button {width: 110px; font-size: 16px;}
	.inquiry_section .form_box .input_col .txt_btn input, .inquiry_section .form_box .input_col .txt_btn .cert_box {width: calc((100% - 10px) - 110px)}
	.inquiry_section .form_box .countbox {flex-direction: column; gap: 20px;}
	.inquiry_section .form_box .countbox .input_col {width: 100%;}

	/* 시공사례 */
	.constr_section .board_container .board_wrap .main_exBoard .main_exBoard_txt {width: 250px;}
	.constr_section .board_container .board_wrap .main_exBoard .content {width: calc(100% - 250px);}
	.constr_section .board_container .board_wrap .main_exBoard .content .slick-arrow,
	.realty_section .realty_swiper .swiper-button-prev, .realty_section .realty_swiper .swiper-button-next{width: 55px; height: 55px;}

	/* 부동산 정보 */
	.realty_section .bg_txt {font-size: 200px;}
}

@media (max-width:980px) {
	.inquiry_section .form_box .input_col_box:first-child {flex-direction: column; gap: 20px; padding: 15px 20px;}
	.inquiry_section .form_box .input_col_box:first-child .input_col {width: 100%;}
}

@media (max-width:767px) {
	/* banner */
	.banner_section {height: 600px;}
	.banner_section .txtbtn_wrap .txts .line {margin: 30px 0}
	.banner_section .txtbtn_wrap .btns {gap: 15px;}
	.banner_section .txtbtn_wrap .btns .swiper-pagination {margin-right: 15px; gap: 20px;}

	/* link */
	.link_section ul {flex-wrap: wrap; height: auto; padding: 30px; row-gap: 20px;}
	.link_section ul li {width: calc(100% / 2)}
	.link_section ul li:hover {height: auto; box-shadow: none;}
	.link_section ul li .icon img {width: 90px; height: 90px;}
	.link_section ul li .txt {width: 90px;}

	/* 무료 시공문의 */
	.inquiry_section .form_box .input_col_box {flex-direction: column; gap: 20px; padding: 15px 20px;}
	.inquiry_section .form_box .input_col_box.row1 {gap: 0;}
	.inquiry_section .form_box .input_col_box .input_col {width: 100%;}
	.inquiry_section .form_box .input_col>label, .inquiry_section .form_box .input_col p, .inquiry_section .form_box .privacy_wrap p {font-size: 16px;}
	.inquiry_section .form_box .privacy_wrap .txt_wrap ul li, .inquiry_section .form_box .input_col select, .inquiry_section .form_box .textarea_wrap textarea {font-size: 14px;}
	.inquiry_section .form_box .agree_wrap {font-size: 16px;}
	.inquiry_section .form_box .input_col_box .thead, .inquiry_section .form_box .textarea_wrap label {width: 125px;}
	.inquiry_section .form_box .input_col .txt_input, .inquiry_section .form_box .textarea_wrap textarea, .inquiry_section .form_box .input_col_box .tbody {width: calc(100% - 125px)}

	/* 시공사례 */
	.constr_section .board_container .board_wrap .main_exBoard {flex-direction: column; gap: 20px;}
	.constr_section .board_container .board_wrap .main_exBoard .main_exBoard_txt, .constr_section .board_container .board_wrap .main_exBoard .content {width: 100%;}  
	.constr_section .board_container .board_wrap .main_exBoard .main_exBoard_txt {display: flex; align-items: end; justify-content: space-between; width: 92%; margin: 0 auto;}	
	.constr_section .board_container .board_wrap .main_exBoard .content {width: 92%; margin: 0 auto;}
	.constr_section .board_container .board_wrap .main_exBoard .content .slick-arrow.slick-next {transform: translate(50%,-50%)}
	.constr_section .board_container .board_wrap .main_exBoard .content .slick-slide {margin-right: 20px;}
	.constr_section .board_container .board_wrap .main_exBoard .txt_wrap h4 {margin: 10px 0 20px;}

	/* 부동산 정보 */
	.realty_section .board_wrap {width: 92%; margin: 0 auto;}
	.realty_section .bg_txt {font-size: 160px; right: -3%;}
	.realty_section .realty_swiper .swiper-slide .title {margin: 15px 0 25px;}
}

@media (max-width:480px) {
	/* banner */
	.banner_section {height: 500px;}
	.banner_section .txtbtn_wrap .txts .line {margin: 15px 0}
	.banner_section .txtbtn_wrap .btns {gap: 10px;}
	.banner_section .txtbtn_wrap .btns .swiper-pagination {margin-right: 10px; gap: 15px;}
	.banner_section .txtbtn_wrap .btns .swiper-pagination .swiper-pagination-bullet {width: 27px; height: 27px;}
	.banner_section .txtbtn_wrap .btns .swiper-pagination .swiper-pagination-bullet::after {width: 5px; height: 5px;}

	/* link */
	.link_section {margin-top: -50px;}
	.link_section ul {padding: 15px; row-gap: 20px; align-items: start;}
	.link_section ul li .dfbox {justify-content: start; gap: 15px; flex-direction: column; align-items: center;}
	.link_section ul li .icon img {width: 80px; height: 80px;}
	.link_section ul li .txt {text-align: center;}

	/* 무료 시공문의 */
	.inquiry_section .form_box .input_col_box, .inquiry_section .form_box .input_col_box:first-child {padding: 12px 0; gap: 15px;}
	.inquiry_section .form_box .input_col_box .input_col {flex-direction: column; gap: 7px;}
	.inquiry_section .form_box .input_col_box .thead, .inquiry_section .form_box .textarea_wrap label {width: 100%;}
	.inquiry_section .form_box .input_col .txt_input, .inquiry_section .form_box .textarea_wrap textarea, .inquiry_section .form_box .input_col_box .tbody {width: 100%;}
	.inquiry_section .form_box .input_col .txt_input {height: 45px; padding: 0 10px; font-size: 14px;}
	.inquiry_section .form_box .input_col .txt_btn button {font-size: 14px; width: 100px; height: 45px;}
	.inquiry_section .form_box .input_col .txt_btn {gap: 7px;}
	.inquiry_section .form_box .input_col .txt_btn input, .inquiry_section .form_box .input_col .txt_btn .cert_box {width: calc((100% - 7px) - 100px);}
	.inquiry_section .form_box .input_col .txt_btn .cert_box .cert_input .count {right: 10px; font-size: 13px;}
	.inquiry_section .form_box .input_col .txt_btn .cert_box .info {font-size: 13px; width: 100%; margin-top: 12px;}
	.inquiry_section .form_box .input_col select {height: 45px; padding: 0 10px; background-position: right 10px center; background-size: 2.5%;}
	.inquiry_section .form_box .input_col .select_box select { background-size: 5%;}
	.inquiry_section .form_box .radio_box input[type="radio"] + label span.radio_figure {width: 13px; height: 13px; border: 2px solid #666;}
	.inquiry_section .form_box .radio_box input[type="radio"]:checked + label span.radio_figure {width: 16px; height: 14px; background-size: contain;}
	.inquiry_section .form_box .radio_box label {font-size: 14px; padding-left: 24px;}
	.inquiry_section .form_box .textarea_wrap {padding: 12px 0; flex-direction: column; gap: 15px;}
	.inquiry_section .form_box .textarea_wrap label {margin-top: 0;}
	.inquiry_section .form_box .privacy_wrap {padding: 12px 0;}
	.inquiry_section .form_box .privacy_wrap .txt_wrap {margin: 12px 0 20px; padding: 15px;}
	.inquiry_section .form_box .agree_wrap input[type="checkbox"] + label span {width: 23px; height: 23px;}
	.inquiry_section .form_box .agree_wrap input[type="checkbox"] + label span::after {width: 15px; height: 15px;}
	.inquiry_section .form_box .submit_btn {height: 55px; line-height: 55px;}

	/* 시공사례 */
	.constr_section .tab_wrap .tabs button {border-bottom: 3px solid #eee; padding: 15px 0;}
	.constr_section .tab_wrap .tabs button.active {border-bottom: 3px solid #7f9dad;}
	.constr_section .board_container {margin-top: 20px;}
	.constr_section .board_container .board_wrap .main_exBoard .txt_wrap small {font-size: 14px;}
	.constr_section .board_container .board_wrap .main_exBoard .txt_wrap h4 {margin: 7px 0 15px;}
	.constr_section .board_container .board_wrap .main_exBoard .content .slick-slide {margin-right: 0;}
	.constr_section .board_container .board_wrap .main_exBoard .content, .realty_section .board_wrap, .constr_section .board_container .board_wrap .main_exBoard .main_exBoard_txt {width: 86%;}
	.constr_section .board_container .board_wrap .main_exBoard .content .slick-arrow, 
	.realty_section .realty_swiper .swiper-button-prev, .realty_section .realty_swiper .swiper-button-next {width: 50px; height: 50px;}
	.constr_section .board_container .board_wrap .main_exBoard .paging_box .count_txt {width: 16px;}
	.constr_section .board_container .board_wrap .main_exBoard .paging_box {max-width: 120px;}
	.constr_section .board_container .board_wrap .main_exBoard .progress_bar_wrap {width: calc(100% - 32px)}
	.realty_section .realty_swiper .swiper-slide .title {margin: 10px 0 15px;}
	.realty_section .realty_swiper .swiper-slide .line {margin-bottom: 25px;}
	.realty_section .bg_txt {font-size: 100px;}
}
